<script>
import { truncate } from "./truncate.js";
export default {
  name: "Dock",
  props: {
    path: {
      type: String,
      required: true,
    },
    ellipsis: {
      type: String,
      required: false,
      default: () => ["..."],
    },
    maxLength: {
      type: Number,
      required: false,
      default: null,
    },
    position: {
      type: String,
      required: false,
      default: "end",
    },
  },
  mounted() {
    this.offsetWidth = this.$el.offsetWidth;
  },
  data() {
    return {
      offsetWidth: 0,
    };
  },
  computed: {
    length() {
      return this.offsetWidth;
    },
    truncatedText() {
      return truncate(this.path, this.maxLength, this.position);
    },
  },
};
</script>

<template>
  <span style="display: block; overflow: hidden; white-space: nowrap;">{{
    truncatedText
  }}</span>
</template>
