<script>
import { truncate } from "./truncate.js";

export default {
  name: "Dock",
  props: {
    position: {
      type: String,
      default: "middle",
    },
    ellipsis: {
      type: String,
      default: "...",
    },
  },
  mounted() {
    window.addEventListener("resize", this.resizeHandler);
    this.resizeHandler();
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHandler);
  },
  methods: {
    resizeHandler() {
      this.prep(this.$el);
    },

    prep(node) {
      const parent = node.parentNode;
      const txtNode = node.childNodes[0];

      // set attribute to keep the original content
      if (!txtNode.hasAttribute("data-original")) {
        txtNode.setAttribute("data-original", txtNode.textContent);
      }
      txtNode.textContent = txtNode.getAttribute("data-original");

      this.ellipsify(parent, txtNode);
    },

    ellipsify(parentNode, txtNode) {
      const containerWidth = parentNode.offsetWidth;
      const targetWidth = txtNode.offsetWidth;

      if (targetWidth > containerWidth) {
        const txtToEllipse = txtNode.textContent;
        const txtChars = txtToEllipse.length;
        const avgCharSize = targetWidth / txtChars;
        const canFit = containerWidth / avgCharSize;

        txtNode.textContent = truncate(txtToEllipse, canFit, this.position);
      }
    },
  },
};
</script>
<template>
  <div>
    <slot />
  </div>
</template>
