<script>
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";
import Dock from "./dock.vue";

const watchHandler = (val, oldVal) => {
  if (val !== oldVal) {
    window.dispatchEvent(new Event("resize"));
  }
};

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data: function() {
    return {
      path:
        "ee/app/assets/javascripts/vue_shared/security_reports/store/utils/url_utility/index.js",
      ellipsis: "...",
      length: 50,
      position: "middle",
    };
  },
  watch: {
    length: watchHandler,
    path: watchHandler,
    ellipsis: watchHandler,
    position: watchHandler,
  },
  created() {
    window.dispatchEvent(new Event("resize"));
  },
  components: {
    VueSlider,
    Dock,
  },
};
</script>

<template>
  <div class="hello">
    <h1>v-dock</h1>
    <p>
      A simple component to smartly truncate long file paths
    </p>
    <br />
    <h3>Try it yourself</h3>
    <div class="demo">
      <div class="options">
        <div class="option">
          <label for="path">Path to truncate</label>
          <input id="path" type="text" v-model="path" />
        </div>
        <div class="option">
          <label for="ellipsis">Ellipsis</label>
          <input id="ellipsis" type="text" v-model="ellipsis" />
        </div>
        <div class="option">
          <label for="position">Position</label>
          <select v-model="position">
            <option value="start">Start</option>
            <option value="middle">Middle</option>
            <option value="end">End</option>
          </select>
        </div>
      </div>
      <div class="result">
        <div class="slider">
          <vue-slider v-model="length"></vue-slider>
        </div>
        <div class="final" :style="{ width: length * 10 + 'px' }">
          <dock :position="position">
            <span :data-original="path"></span>
          </dock>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="left-align">
      <b>More examples</b>
      <i> (Resize the browser window for demonstration)</i>
      <br />
      <br />

      <div class="left-align">
        <dock>
          <span
            data-original="thisIs/AVeryLongFilePath/that/needs/to/be/smartly/truncated/from/the/middle/so/we/dont/lose/important/information/here.vue"
          >
          </span>
        </dock>
      </div>
      <div class="left-align" style="max-width:500px">
        <dock>
          <span
            data-original="thisIs/AVeryLongFilePath/that/needs/to/be/smartly/truncated/from/the/middle/so/we/dont/lose/important/information/here.vue"
          >
          </span>
        </dock>
      </div>

      <div class="left-align" style="max-width:150px">
        <dock>
          <span
            data-original="thisIs/AVeryLongFilePath/that/needs/to/be/smartly/truncated/from/the/middle/so/we/dont/lose/important/information/here.vue"
          >
          </span>
        </dock>
      </div>

      <div class="left-align" style="max-width:100px">
        <dock>
          <span
            data-original="thisIs/AVeryLongFilePath/that/needs/to/be/smartly/truncated/from/the/middle/so/we/dont/lose/important/information/here.vue"
          >
          </span>
        </dock>
      </div>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.left-align {
  text-align: left;
}
.options {
  margin: 20px;
}
.option {
  display: inline-block;
  margin: 0px 50px;
}

label {
  display: block;
}

#path {
  width: 400px;
}

.vue-slider {
  width: 100px !important;
  display: inline-block;
}

.result {
  /* text-align: -webkit-center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  align-items: center;
  display: flex;
}
.final {
  position: relative;
  max-width: 1000px;
}
input {
  padding: 5px;
  margin: 5px;
  width: auto;
}
label {
  color: #3e87bb;
}
</style>
